*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    /* background: #001e4d; */
    /* background: linear-gradient(135deg, #B993D6, #8CA6DB); */
    background: linear-gradient(135deg, #13499e, #001e4d);

    min-height: 100vh;
}

.app{
    /* background: #fff; */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    /* color: #001e4d; */
    color: #fff;
    font-weight: 600;
    /* border-bottom: 1px solid #333; */
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;

}

.quiz h2{
    font-size: 18px;
    /* color: #001e4d; */
    color: #fff;
    font-weight: 600;
    margin-bottom: 14px;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    /* border: 1px solid #222; */
    border: none;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    /* background: #001e4d; */
    background: linear-gradient(135deg, #13499e, #001e4d);
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}